

<!--<button  type="submit"class="btn btn-primary" routerLink="/hm"> Back to Home</button>-->
    <table  class="table " border="2px" cellspacing="5px">
        <tr >
        <td >

            <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
        <img   src="../../assets/s5.jpg" /><br/>
        
        
        
        </td>
        <br>
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>    
            

        <img class="img" src="../../assets/s3.jpg"/><br/>
       
       
        </td>
        
        
        <td >
           
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img class="img" src="../../assets/s4.jpg" /><br/>
       
        
        </td>
        <br>
        
        <td>
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
            
        <img style="width:30%;"class="img" src="../../assets/s8.jpg" /><br/>
       
        </td>
        </tr>

        <tr >
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  class="img" src="../../assets/s14.jpg" /><br/>
           
            
            </td>
            <br>
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img class="img" src="../../assets/s13.jpg"/><br/>
           
            </td>
            
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img class="img" src="../../assets/s11.jpg" /><br/>
           
            </td>
            <br>
            
            <td >
               
                <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
            <img style="width:30%;"class="img" src="../../assets/s10.jpg" /><br/>
            
            
            </td>
            </tr>

            <tr >
                <td >
                  
                    <button  class="btn btn-success"type="submit"> addtoCart</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button  class="btn btn-success"type="submit"> View</button><br/>
                <img  class="img" src="../../assets/s12.jpg" /><br/>
               
                </td>
                <br>
                
                <td >
                 
                    <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
                
                <img class="img" src="../../assets/s15.jpg"/><br/>
                
                </td>
                
                
                <td >
                    
                    <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
                
                <img class="img" src="../../assets/s14.jpg" /><br/>
                
                </td>
                <br>
                
                <td >
                    
                <img style="width:30%;"class="img" src="../../assets/s5.jpg" /><br/>
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
                </td>
                </tr>
   </table>