<div class="form-box">

    <h1 align="center">User Login</h1>
    <div class="social-icons">
        <img src="../../assets/fb.png">
        <img src="../../assets/gm.jpg">
    </div>


    <div class="input-group" id="login">
    <input class="input-field" type="text" placeholder="Enter Username" name="name" >
    <input type="password" class="input-field" placeholder="Enter Password" name="pass"
         required>
        
        <!--<label>Type:</label>
        <select name="type">
            <option>User</option>
            <option>Admin</option>
        </select>-->

        <input type="checkbox" class="check-box"><span>Remember Password</span>

        <button type="submit" class="submit-btn" routerLink="/hm">Log In</button>&nbsp;&nbsp;&nbsp;&nbsp;
        
        &nbsp;&nbsp;&nbsp;<a class="a"routerLink="/rg">New User?</a>
        </div>
</div>
