

<!--<button  type="submit"class="btn btn-primary" routerLink="/hm"> Back to Home</button>-->
<table  class="table " border="2px" cellspacing="5px">
    <tr >
    <td>
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img   src="../../assets/sp1.jpg" /><br/>

    
    </td>
    <br>
    
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
    <img class="img" src="../../assets/sp2.jpg"/><br/>

    
    </td>
    
    
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
    <img  src="../../assets/sp3.jpg" /><br/>
   
    
    </td>
    <br>
    
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
    <img src="../../assets/sp4.jpg" /><br/>
    
    
    </td>
    </tr>

    <tr >
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img style="width:15%;" class="img" src="../../assets/sp5.jpg" /><br/>

        
        </td>
        <br>
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/sp6.jpg"/><br/>
        
        </td>
        
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/sp7.jpg" /><br/>
      
        
        </td>
        <br>
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/sp8.jpg" /><br/>
        
        
        </td>
        </tr>

        <tr >
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  src="../../assets/sp9.jpg" /><br/>
            
            
            </td>
            <br>
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  src="../../assets/sp10.jpg"/><br/>

            
            </td>
            
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img style="width:15%;"class="img" src="../../assets/sp11.jpg" /><br/>

            </td>
            <br>
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  src="../../assets/sp12.jpg" /><br/>
           
            
            </td>
        </tr>
        </table>
