

 <marquee style="color:red; background-color:yellow;font:12"behavior="scroll" direction="left" mark="red" scrollamount="16">
<b>10% OFF On Mens Formal Wear and Womens Traditional Wear...</b>
</marquee>


<table  class="table "  >
    <tr >
    <td >

        <button  class="btn btn-success"type="submit"> addtoCart</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button  class="btn btn-success"type="submit" routerLink="/vw"> View</button><br/>
    <img   src="../../assets/s5.jpg" /><br/>
    <label><b>Men's Formal Wear</b></label>
    </td>

  <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img   src="../../assets/kt1.jpg" /><br/>
    <label><b>Women's Traditional Wear</b></label>
 </td>

   

    </tr>
    </table>