

 <marquee style="color:red; background-color:yellow;font:12"behavior="scroll" direction="left" mark="red" scrollamount="16">
<b>10% OFF On Mens Formal Wear and Womens Traditional Wear...</b>
</marquee>


<table  class="table "  >
    <tr >
    <td >

        <button  class="btn btn-success"type="submit" routerLink="/add"> addtoCart</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button  class="btn btn-success"type="submit" routerLink="/vw"> View</button><br/>
    <img   src="../../assets/s5.jpg" /><br/>
    <label><b>Men's Formal Wear</b></label>
    </td>

  <td  colspan ="2">
        <button  class="btn btn-success"type="submit" routerLink="/add"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img   src="../../assets/kt1.jpg" /><br/>
    <label><b>Women's Traditional Wear</b></label>
 </td>
 <td  colspan ="2">
    <button  class="btn btn-success"type="submit" routerLink="/add"> addtoCart</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button  class="btn btn-success"type="submit"> View</button><br/>
<img   src="../../assets/kc1.jpg" /><br/>
<label><b>Kids Casual Wear</b></label>
</td>


<td  colspan ="2">
    <button  class="btn btn-success"type="submit" routerLink="/add"> addtoCart</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button  class="btn btn-success"type="submit"> View</button><br/>
<img   src="../../assets/wf10.jpg" /><br/>
<label><b>Women's Formal Wear</b></label>
</td>


   

    </tr>
    </table>