<a  routerLink="/lp">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/adlg">Admin</a>

<div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
<!--<a  style="float:right;" routerLink="/adlg">AdminLogin</a>-->

<!--<app-homepage></app-homepage>-->
<router-outlet></router-outlet>
<!--<div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/><br/><br/>
</div>-->


<!--<nav>
    <a class="btn btn-primary" routerLink="/register" routerLinkActive="active">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a  class="btn btn-primary" routerLink="/login" routerLinkActive="active">Login</a>
</nav>-->

