<div class="form-box">

    <h1 align="center">Admin</h1>
    <div class="social-icons">
        <img src="../../assets/fb.png">
        <img src="../../assets/gm.jpg">
    </div>


    <div class="input-group" id="login"  >
    <input class="input-field" type="text" name="uname"  placeholder="Enter Username">
    <input type="password" class="input-field" name="pass"    placeholder="Enter PassWord" 
         required>
        
        <!--<label>Type:</label>
        <select name="type">
            <option>User</option>
            <option>Admin</option>
        </select>-->

        <input type="checkbox" class="check-box"><span>Remember Password</span>

        <button type="submit" class="submit-btn" routerLink="/ds">Log In</button>&nbsp;&nbsp;&nbsp;&nbsp;
        

        </div>
</div>
