

<!--<button  type="submit"class="btn btn-primary" routerLink="/hm"> Back to Home</button>-->
<table  class="table " border="2px" cellspacing="5px">
    <tr >
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img   src="../../assets/wt1.jpg" /><br/>

    
    </td>
    <br>
    
    <td>
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img  src="../../assets/wt2.jpg"/><br/>
   
    
    </td>
    
    
    <td class="td">
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img src="../../assets/wt3.jpg" /><br/>
    
    
    </td>
    <br>
    
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img   src="../../assets/wt4.jpg" /><br/>
   
    
    </td>
    </tr>

    <tr >
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img   src="../../assets/wt5.jpg" /><br/>
        
        
        </td>
        <br>
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/wt6.jpg"/><br/>
        
        
        </td>
        
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/wt7.jpg" /><br/>

        
        </td>
        <br>
        
        <td>
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/wt8.jpg" /><br/>

        </td>
        </tr>

        <tr >
            <td>
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img   src="../../assets/wt9.jpg" /><br/>
           
            
            </td>
            <br>
            
            <td  >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  src="../../assets/wt10.jpg"/><br/>

            
            </td>
            
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  src="../../assets/wt11.jpg" /><br/>

            
            </td>
            <br>
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img   src="../../assets/wt12.jpg" /><br/>

            
            </td>
        </tr>
        </table>

