
<div class="jumbotron">

<table class="bg-info table table-bordered table-striped table-hover">
<thead>
    <tr>
        <th style="text-align:center;"colspan="8"><b>User Registered Data</b></th>
    </tr>
    <tr>
        <th>UserName</th>
        <th>UserEmail</th>
        <th>UserMobile</th>
        <th>UserAddress</th>
        <th>UserPass</th>
        <th>UserConPass</th>
        <th>Edit Data</th>
        <th>Delete Data</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor ="let u of user">
        <td>{{u.uname}}</td>
        <td>{{u.uemail}}</td>
        <td>{{u.umobile}}</td>
        <td>{{u.uadd}}</td>
        <td>{{u.upass}}</td>
        <td>{{u.ucpass}}</td>
        <td><a class="btn btn-success" [routerLink]="['/update',u.id]">Edit Data</a></td>
        <td><a class="btn btn-danger" (click)="delete(u.id)">Delete Data</a></td>
    </tr>
</tbody>
</table>
</div>