

<!--<button  type="submit"class="btn btn-primary" routerLink="/hm"> Back to Home</button>-->
<table  class="table " border="2px" cellspacing="5px">
    <tr >
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
    <img   src="../../assets/kf12.jpg" /><br/>
   
    
    </td>
    <br>
    
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img  src="../../assets/kf2.jpg"/><br/>
   
    </td>
    
    
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img class="img" src="../../assets/kf3.jpg" /><br/>

    
    </td>
    <br>
    
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
    <img  class="img" src="../../assets/kf4.jpg" /><br/>
   
    
    </td>
    </tr>

    <tr >
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  style="width:35%;"class="img" src="../../assets/kf5.jpg" /><br/>
      
        
        </td>
        <br>
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/kf6.jpg"/><br/>
        
        
        </td>
        
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/kf7.jpg" /><br/>

        
        </td>
        <br>
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/kf8.jpg" /><br/>

        </td>
        </tr>

        <tr >
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img   src="../../assets/kf9.jpg" /><br/>

            </td>
            <br>
            
            <td  >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img src="../../assets/kf10.jpg"/><br/>
            
            </td>
            
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  src="../../assets/kf16.jpg" /><br/>

            </td>
            <br>
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  src="../../assets/wt15.jpg" /><br/>
            
            
            </td>
        </tr>
        </table>

