

<!--<button  type="submit"class="btn btn-primary" routerLink="/hm"> Back to Home</button>-->
<table  class="table " border="2px" cellspacing="5px">
    <tr >
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img   src="../../assets/kc1.jpg" /><br/>
    
    </td>
    <br>
    
    <td >
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img class="img" src="../../assets/kc2.jpg"/><br/>
    
    </td>
    
    
    <td>
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img class="img" src="../../assets/kc3.jpg" /><br/>
    
    
    </td>
    <br>
    
    <td>
        <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
    <img   src="../../assets/kc4.jpg" /><br/>
   
    
    </td>
    </tr>

    <tr >
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/kc5.jpg" /><br/>
        
        </td>
        <br>
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/kc6.jpg"/><br/>
       
        </td>
        
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-success"type="submit"> View</button><br/>
        <img  src="../../assets/kc7.jpg" /><br/>
       
        </td>
        <br>
        
        <td >
            <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
        <img class="img" src="../../assets/kc8.jpg" /><br/>
        
        
        </td>
        </tr>

        <tr >
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  style="width:25%;"class="img" src="../../assets/kc13.jpg" /><br/>
            
            </td>
            <br>
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  src="../../assets/kc10.jpg"/><br/>
           
            </td>
            
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button  class="btn btn-success"type="submit"> View</button><br/>
            <img style="width:35%;"class="img" src="../../assets/kc11.jpg" /><br/>

            </td>
            <br>
            
            <td >
                <button  class="btn btn-success"type="submit"> addtoCart</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn btn-success"type="submit"> View</button><br/>
            <img  src="../../assets/kc12.jpg" /><br/>
           >
            
            </td>
        </tr>
        </table>


